@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --color-blue: #2B8AFF;
  --color-white: #fff;
    --color-light-gray: #F4F4F4;
  --color-gray: #6C6C6C;
  --color-black: #000;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

html,
body,
#root {
  min-height: 100%;
}

a {
  text-decoration: none;
}


@layer components {
  .header {
    background-color: var(--color-blue);
  }

  .logo-link,
  .icon-bg,
  .icon-text {
    color: var(--color-white);
  }

  .logo {
    font-size: 36px;
    font-weight: 600;
  }

  .icon-blue {
    color:var(--color-blue);
  }

  .icon-bg {
    width: 40px;
    height: 40px;
    background: var(--color-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .heder-icons {
    display: flex;
    gap: 40px;
  }
}