@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: #F6F6F9;
  --color-blue: #2B8AFF;
  --color-shadow: #1617413f;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

html,
body,
#root {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: var(--color-blue)
}

input, button {
    box-sizing: border-box;
}

button {
  margin: 0;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid var(--color-blue);
  outline: none;
}

button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 5px solid var(--color-blue);
    border-radius: 50%;
    border-left-color: transparent;
    animation: loader 1s infinite;
  }

@keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@layer components {
  .header {
    background-color: var(--color-blue);
  }

  .logo-link,
  .icon-bg,
  .icon-text {
    color: var(--color-white);
  }

  .logo {
    font-size: 36px;
    font-weight: 600;
  }
}